body{
margin:0px;
padding:0px;
background-color: lightblue;
background-size:cover;
}
.hem{
height:20%;
width:100%;
margin:auto;
margin-top:1%;
margin-left:7px%;
padding:5px;
}
.ho{
	margin-left: 80%;
	margin-top: 1px;
}
.hi{
	margin-left:5%;
margin-top:5%;
float:left;
}
.ya{
		background-color:lightblue;
		margin-top:4%;
		margin-left:1%;
		margin-right:5%;
		width:98%;
		height:auto;
		float:left;
		border:solid 6px lightblue;
		border-radius:10px 0px 10px 0px;
		text-align:justify;
		box-shadow:0 5px 5px blue;
	}
.d{
	width:100%;
	height:15%;
	margin-top:3%;
	padding-bottom:1%;
	background-color:black;
	float:left;
}